@font-face {
	src: url("assests/blackout.ttf") format("truetype");
}

body {
	/* width: 760px; */
	font-family: 'Cutive Mono', monospace;
	text-transform: uppercase;
	margin: 0 auto; 
    padding: 0;
    height: 1600px;
}

h1{
	text-align: center;
	font-size: 4.5rem;
}

a {
	outline: none;
}

a .logo{
	width: 100%
}

a:hover, a:active, a:focus {
	display: block;
}

header {
	min-height: 60px;
}

label {
	margin-bottom: 0px;
    margin-top: 5px;
}

#modal-h{
	padding: 0px;
	margin: 0px;
}

#modal-form{
	background: none;
    color: white;
	width: 157%;
	box-shadow: none;
	border: none;
}

#modal-title1{
    font-size: 1.4em;
}

#modal-form input{
	font-size: 1.2em;
}

#modal-form textarea{
	font-size: 1.2em;
}
    
#modal-dialog{
	margin-left: 20%;
	margin-right: 0px;
	margin-top: 7%;
}

#moda-nome{
	width: 38%;
	float: left;
}

#moda-email{
	width: 58%;
	float: right;
}

#moda-endereco{
	width: 78%;
	float: left;
}

#moda-telefone{
	width: 18%;
	float: right;
}

#moda-qtd{
	width: 18%;
	float: left;
}

#moda-empresa{
	width: 78%;
	float: right;
}

#button-form11{
	background: #034164;
    border: none;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
}

#button-cancel11{
    border: none;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
}

.md-form{
	margin-bottom: 20px;
}

/*
.modal-dialog {
    width: 600px;

/*ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-m5argin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}*/
/*
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
*/

.h1-left{
	float : left;
	width: 58%;
	margin-top: -100px;
}

.img-right{
	float : right;
	width: 42%;
	margin-top: -100px;
}

.campanha{
	width: 100%;
	margin-top: 200px;
}

.campanha img{
	width: 40px;
    float: left;
    margin-top: 14px;
}

.campanha h1{
    float: right;
    font-size: 4.5rem;
    letter-spacing: -3px;
    margin-top: 15px;
}

.campanha > .h1-left{
	width: 59%;
}

.campanha > .img-right{
	width: 41%;
}

.blocos3 p{
	text-align: justify;
	-webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.blocos3 h2{
	text-align: center;
	font-size: 3rem;
}

.blocos{
	text-align: justify;
}

#button-form1{
	background: #034164;
    border: none;
    padding: 2.5rem 4rem;
    font-size: 2.0rem;
    line-height: 0.5;
    border-radius: 0.3rem;
    text-transform: uppercase;
}

.cliente{
	width: 100%;
	margin-top: 200px;
}

.cliente img{
	width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}

.cliente h1{
    float: right;
    font-size: 4.5rem;
    letter-spacing: -3px;
    margin-top: 15px;
}

.cliente-row{
	padding-top: 15px;
	width: 100%;
}

.clientesSlides{
	width: 100%;
}

.clientesSlides div{
	width: 25%;
	padding-left: 10px;
}

.clientesSlides img{
	height: 180px;
}

.clinicas{
	background-image: url(img/hands.jpg);
	background-size: 100%;
	width: 100%;
	height:700px;
	text-align: center;
	margin-top: 100px;
	padding-top: 100px
}

.clinicas img{
	width: 50px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.clinicas h1{
	color: white;
    float: right;
    font-size: 4.5rem;
    margin-top: 21px;
}

.clinicas h2{
	color: white;
}

.clinica {
	width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-bottom: 100px;
    
}

#clinicaA{
	background-image: url(img/clinic.jpg);
	float: left;
	margin-left: 17%;
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

#clinicaB{
	background-image: url(img/osasco.jpg);
	float: right;
	margin-right: 17%;
	background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

#gmap_canvasA{
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: none;
}


#gmap_canvasB{
	height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    display: none;
}

.home{
	max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#homecare img{
	float: left;
	text-decoration: none;
	width: 100%;
	padding: 0
}

#homecare h1{
	font-size:4.5rem
}

.home-img{
	width: 30%;
	float: left;
}

.home-txt{
	width: 70%;
	float: right;
	margin-top: 30px;
}

.home-txt p{
	padding: 29px;
	font-size: 1.2em;
	text-align: justify;
}

#modalContactForm2{
	width: 100%;
}

#modal-form2{
	background: none;
    color: white;
	width: 100%;
	box-shadow: none;
	border: none;
}

#modal2-title1{
	margin-left: 4%;
    font-size: 1.4em;
}
	
#dialog2{
	margin: 0px;
    margin-left: 32%;
}

#modal-form2 input{
	font-size: 1.2em;
}

#modal-form2 textarea{
	font-size: 1.2em;
}

#button-form2{
	background: #034164;
    border: none;
    padding: 2.5rem 4rem;
    font-size: 2.0rem;
    line-height: 0.5;
    border-radius: 0.3rem;
    text-transform: uppercase;
}

#button-form21{
	background: #034164;
    border: none;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
}

#button-cancel21{
    border: none;
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
}

#vacinas h1{
	font-size: 4.5rem;
	text-align: center;
}

.img{
    max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.historia img{
	float: left;
	text-decoration: none;
	float: left;
	max-width: 100%;
    height: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.historia p{
	float: right;
    width: 70%;
    margin-top: 70px;
}

.historia h1{
	font-size: 4.5rem;
	text-align: center;
}

.h1-left-hist{
	float : left;
	width: 30%;
}

footer{
	background-color: #034164;
	color: #FFF;
	padding: 20px;
	max-width:100%;
	margin-top: 40px;
}


/*footer address:last-child {
	margin-bottom: 0;
}*/

.adress1{
	width: 35%;
	float:left;
}

.rua{
	float: right;
	margin-top: 4%;
}

.copy{
	margin-top: 2%;
}

.copy p{
	font-style: italic;
	margin-top: 0;
	font-size: 0.9em;
	margin-bottom: 0px;
}

.adress1 img{
	width: 19%;
}

.adress2{
	float: right;
	text-align: right;
	width: 50%
	margin-top: 3%;
}

.tel{
	margin-top: 6%;
}

@media screen and (max-width: 960px) {
	footer{
		margin-top: 10px;
	}

	.collapse:not(.show) {
	  display: none;
	}

	.h1-left{
		width: 74%;
		margin-top: -70px;
	}

	.img-right{
		width: 26%;
		margin-top: -70px;
	}

	.campanha {
	    margin-top: 70px;
	}

	.campanha h1 {
    	font-size: 3.5rem;
	}

	.campanha img {
		width: 28px;
    	margin-top: 16px;
	}

	.campanha > .h1-left {
	    width: 72%;
	}

	.campanha > .img-right {
	    width: 28%;
	}

	.blocos3 p{
		font-size: 1.2em;
		text-align: left;
		letter-spacing: -1px;
	}

	#oque{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#beneficios{
	}

	#vacinas{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	#button-form1{
		padding: 2.0rem 2.5rem;
		margin-top: 20px;
	}

	.cliente {
	    margin-top: 100px;
	}

	.cliente h1{
	    font-size: 3.5rem;
	}

	.cliente img {
		width: 70px;
	}

	.cliente > .h1-left {
	    width: 62%;
	}

	.cliente > .img-right {
	    width: 38%;
	}

	.cliente-row{
		padding-top: 15px;
		width: auto;
	}

	.clientesSlides div{
		width: 100%;
	}

	.clientesSlides img{
		height: 100px;
	}

	.clinicas{
		background-image: url(img/hands-mini.jpg);
		height: 625px;
		padding-top: 0px;
		margin-top: 30px;
	}

	.clinicas > .h1-left {
		width: 70%;
	    margin-top: 0px;
	}

	.clinicas > .img-right {
		width: 30%;
	    margin-top: 0px;
	}

	.clinicas img {
		width: 40px;
	}

	.clinicas h2{
		width: 90%;
    	margin-left: 5%;
	}

	.clinicas h1{
	    font-size: 3.5rem;
	}

	.clinica {
	    width: 200px;
	    height: 200px;
		margin-bottom: 30px;
	}

	#clinicaA{
		margin-left: 22%;
	}

	#clinicaB{
		margin-right: 22%;
	}

	#homecare img{
		width: 50%;
		margin-left: 25%;
	}

	#homecare h1{
		font-size:3.5rem
	}

	.home-img{
		width: 100%;
	}

	.home-txt{
		width: 90%;
		margin-top: 0px;
		margin-right: 5%;
	}

	.home-txt p {
	    padding: 0px;
	    text-align: left;
	    margin: 0px;
	}

	#modal-form {
	    background: none;
	    color: white;
	    width: 100%;
	    box-shadow: none;
	    border: none;
	}

	#modal-dialog {
	    margin-left: 0;
	    margin-right: 0;
	}

	#modal-h{
		padding: 0px;
		margin: 0px;
	}

	#moda-nome{
		width: 100%;
		float: left;
	}

	#moda-email{
		width: 100%;
		float: right;
	}

	#moda-endereco{
		width: 100%;
		float: left;
	}

	#moda-telefone{
		width: 100%;
		float: right;
	}

	#moda-qtd{
		width: 100%;
		float: left;
	}

	#moda-empresa{
		width: 100%;
		float: right;
	}

	.btn{
		padding: 0.375rem 0.75rem;
	    font-size: 2rem;
	    line-height: 1.5;
	    border-radius: 0.25rem;
	}

	.md-form{
		margin-bottom: 20px;
	}

	#button-form2 {
		padding: 2.0rem 2.5rem;
	    margin-top: 0px;
	}

	.modal-title{
		font-size: 2.2em;
	}

	#moda-nome{
		font-size: 2rem;
	}

	#vacinas h1 {
	    font-size: 3.5rem;
	}

	.hist{
		margin-top: 0px;
	}

	.hist > .h1-left {
		width: 100%;
	    margin-top: 0px;
	}

	.hist > .img-right {
		width: 100%;
	}

	.historia h1 {
	    font-size: 3.5rem;
	}

	.h1-left-hist{
		float : left;
		width: 100%;
	}

	.historia img{
		width: auto;
		height: 100px;
	    margin: 0px;
	    margin-left: 30%;
	}

	.historia p{
		padding: 0px;
	    margin-top: 10px;
	    font-size: 1.1em;
	    width: 98%;
	}

	.adress1{
		width: auto;
	}

	.adress1 img{
		width: 30%;
	}

	.rua{
		width: 100%;
		margin-bottom: 0px;
	}

	.adress2{
		width: auto;
		text-align: left;
		float: left;
	}

	.tel{
		margin-top: 0px;
	}

	.copy p{
		font-style: italic;
	    margin-top: 0;
	    font-size: 0.9em;
	    margin-bottom: 0px;
	}
}